  {{#players}} 
<div class="card">
  <div class="container" id="101">
    <h4><b>Name</b></h4>
    <p>{{name}}</p><br>
        <h4><b>Image</b></h4>
    <p>{{image}}</p><br>
 <h4><b>Position</b></h4>
    <p>{{position}}</p><br>
     <h4><b>Birthday</b></h4>
    <p>{{birthday}}</p><br>
         <h4><b>Nationality</b></h4>
    <p>{{nationality}}</p><br>
  </div>
</div><br><br>
   {{/players}} 
